.first-screen
    .container
        .first-screen__wrap
            .first-screen__mobile
                .circle.circle-one
                .circle.circle-two
                .circle.circle-three
                .circle.circle-four
                .circle.circle-five
                img(src='static/img/content/mobile.png' alt='')

            .first-screen__text-block
                .first-screen__title
                    | Fastr - мобильная децентрализованная платформа для проведения опросов

                .first-screen__text
                    | Мы хотим реформировать рынок маркетинговых исследований, создав принципиально новый инструмент – интернациональный сервис для проведения опросов, созданный на основе технологии блокчейн, а следовательно – максимально безопасный, достоверный и прозрачный.

                button.first-screen__btn Инвестировать в проект