.comparison
    .container
        .page-title ДАВАЙТЕ СРАВНИМ:
        .comparison__top
            .comparison__title Стандартное маркетинговое исследование
            .comparison__vs VS
            .comparison__title
                img(src='static/img/logo.svg' alt='')

        .comparison__wrap
            .comparison__left-side
                .comparison__item
                    .comparison__item__title Дорого
                    .comparison__item__text Стоимость обычных маркетинговых исследований начинается от 2-3 тысяч долларов. В эту цену также заложены сопутствующие расходы маркетинговых агентств

                .comparison__item
                    .comparison__item__title Дорого
                    .comparison__item__text Время проведения обычного исследования может составлять от пары недель до нескольких месяцев

                .comparison__item
                    .comparison__item__title Не достоверно
                    .comparison__item__text Слабый подбор фокус-группы – часто на вопросы отвечают родственники или друзья того, кто проводит исследования

            .comparison__right-side
                .comparison__item
                    .comparison__item__title Дешево
                    .comparison__item__text Низкая цена благодаря фактическому отсутствию сопутствующих расходов. Каждый вложенный в исследование цент будет работать на достижение результата

                .comparison__item
                    .comparison__item__title Быстро
                    .comparison__item__text Вам хватит одного часа, чтобы скачать и установить приложение, задать целевую аудиторию, пополнить баланс и провести опрос

                .comparison__item
                    .comparison__item__title Не достоверно
                    .comparison__item__text Четкий подбор целевой аудитории, что гарантирует качественный результат