footer.main-footer
    .container
        .flex-wrap.flex-wrap--jcsb
            .logo
                .logo__img
                    img(src='static/img/logo2.svg' alt='')

                .logo__text effective marketing researches

            .copyright 2018 FASTR © All rights reserved