header.main-header
    .menu
        .menu__close-btn
        .menu__text Menu
        .menu__navbar.navbar
            nav.navbar__nav
                .nav.navbar__nav__item
                    a.nav.navbar__nav__(href='#')
                        +fa('arrow-right')
                        | ICO

                .nav.navbar__nav__item
                    a.nav.navbar__nav__(href='#')
                        +fa('arrow-right')
                        | Что такое FASTR?

                .nav.navbar__nav__item
                    a.nav.navbar__nav__(href='#')
                        +fa('arrow-right')
                        | Почему FASTR?

                .nav.navbar__nav__item
                    a.nav.navbar__nav__(href='#')
                        +fa('arrow-right')
                        | Команда

                .nav.navbar__nav__item
                    a.nav.navbar__nav__(href='#')
                        +fa('arrow-right')
                        | Roadmap

                .nav.navbar__nav__item
                    a.nav.navbar__nav__(href='#')
                        +fa('arrow-right')
                        | White Paper

                .nav.navbar__nav__item
                    a.nav.navbar__nav__(href='#')
                        +fa('arrow-right')
                        | FAQ

                .nav.navbar__nav__item
                    a.nav.navbar__nav__(href='#')
                        +fa('arrow-right')
                        | Контакты

        .menu__copyright Fastr. All rights reserved


    .main-header__left-side
        .toggle-menu
            button.toggle-menu__btn
                span

        .before-start
            .before-start__text До старта проекта осталось:
            .before-start__counter 1 days, 3:59:12


        .social-links
            a.social-links__item(href='#' target='_blank')
                +fa('facebook')

            a.social-links__item(href='#' target='_blank')
                +fa('twitter')

            a.social-links__item(href='#' target='_blank')
                +fa('vk')

    .main-header__top
        .logo
            .logo__img
                img(src='static/img/logo.svg' alt='')

            .logo__text effective marketing researches

        .enter
            .enter__item.log-in Log in
            .enter__item.sign-up Sign up

            .select-language
                .select-language__selected
                    img(src='static/img/icons/rus.png' alt='')
