.how-work
    .container
        .page-title КАК ЭТО РАБОТАЕТ?
        .circles
            .circles__item
            .circles__item
            .circles__item
            .circles__item
            .circles__item
            .circles__item
        .how-work__video
            img(src='static/img/content/video-img.jpg' alt='')