.press-about-us
    .container
        .page-title ПРЕССА О НАС

        .press-about-us__wrap
            a.press-about-us__item(href='#' target='_blank')
                img(src='static/img/content/press-img-1.png' alt='')