.road-map
    .container
        .page-title Roadmap

        .road-map__wrap
            .road-map__line
                .road-map__text
                    .inner-block Оформление идеи о необходимости мобильных опросов в современном маркетинге
                .road-map__time
                    .circle-one
                    .circle-two
                    .circle-three
                    .circle-four
                    .circle-five
                    | Февраль - Март
                .road-map__year 2017

            .road-map__line
                .road-map__year &nbsp;
                .road-map__time
                    .circle-one
                    .circle-two
                    .circle-three
                    .circle-four
                    .circle-five
                    | Апрель - Май
                .road-map__text
                    .inner-block Разработка нового метода маркетинговых исследований: итерационная модель опросов (скачать примеры использования)

            .road-map__line
                .road-map__text
                    .inner-block Разработка первой версии ТЗ 1.0. с рабочим названием "I'Means"
                .road-map__time
                    .circle-one
                    .circle-two
                    .circle-three
                    .circle-four
                    .circle-five
                    | Июнь - Сентябрь
                .road-map__year &nbsp;

            .road-map__line
                .road-map__year &nbsp;
                .road-map__time
                    .circle-one
                    .circle-two
                    .circle-three
                    .circle-four
                    .circle-five
                    | Октябрь - Ноябрь
                .road-map__text
                    .inner-block Изменение название на Fastr - Fast research. И партнерство с ключевыми участниками, ринвесторами

            .road-map__line
                .road-map__text
                    .inner-block Формирование основной команды.
                .road-map__time
                    .circle-one
                    .circle-two
                    .circle-three
                    .circle-four
                    .circle-five
                    | Декабрь
                .road-map__year &nbsp;

            .road-map__line
                .road-map__year 2018
                .road-map__time
                    .circle-one
                    .circle-two
                    .circle-three
                    .circle-four
                    .circle-five
                    | Январь
                .road-map__text
                    .inner-block Формирование Лого, фирменного стиля. Создание сайта, начало маркетинговой активности. Регистрация Юр.лица. Регистрация и выпуск токенов FSTR

            .road-map__line
                .road-map__text
                    .inner-block Выпуск MVP. Первая 1000 респондентов. Начало первого раунда ICO.
                .road-map__time
                    .circle-one
                    .circle-two
                    .circle-three
                    .circle-four
                    .circle-five
                    | Февраль
                .road-map__year &nbsp;

            .road-map__line
                .road-map__year &nbsp;
                .road-map__time
                    .circle-one
                    .circle-two
                    .circle-three
                    .circle-four
                    .circle-five
                    | Март
                .road-map__text
                    .inner-block Выпуск Alfa версии. Старт / конец второго раунда ICO. Выпуск Beta версии. Старт / конец третьего раунда ICO.

            .road-map__line
                .road-map__text
                    .inner-block Анонс первого релиза официальной версии Fastr. Старт / конец третьего раунда ICO.
                .road-map__time
                    .circle-one
                    .circle-two
                    .circle-three
                    .circle-four
                    .circle-five
                    | Май - Июнь
                .road-map__year &nbsp;