.rounds-info
    .container
        .rounds-info__circles
            .rounds-info__circles__item
            .rounds-info__circles__item
            .rounds-info__circles__item
            .rounds-info__circles__item
            .rounds-info__circles__item
            .rounds-info__circles__item
            .rounds-info__circles__item
            .rounds-info__circles__item
            .rounds-info__circles__item

        .rounds-info__title Crowd Sale будет проходит в режиме временных раундов. Всего будет проведено 4 раунда по 3 недели.
        .rounds-info__text
            | На каждый раунд будут размещены все оставшиеся от 100 млн токенов, предназначенных для Crowd Sale.
            br
            | В зависимости от закрытия раунда, будут рассчитаны даты и скидки на следующий раунд.
            br
            | Каждый раунд привязан к определенным этапам роад мэп и предназначен
            br
            |для покрытия расходов связанных с этими мероприятиями.
        .rounds-info__wrap
            .rounds-info__item
                .rounds-info__item__text Soft cap 1 round: $500 000
            .rounds-info__item
                .rounds-info__item__text Soft cap 2 round: на основе закрытия 1 round
            .rounds-info__item
                .rounds-info__item__text Soft cap 3 round: на основе закрытия 2 round
            .rounds-info__item
                .rounds-info__item__text Soft cap 4 round: на основе закрытия 4 round