.schema
    .container
        .schema__wrap
            .schema__text.schema__logo
                img(src='static/img/logo2.svg' alt='')
            .schema__text.schema__text-one Заказчик: Маркетолог
            .schema__text.schema__text-two Биржа
            .schema__text.schema__text-three Заказчики МСБ
            .schema__text.schema__text-four Каталог готовых маркетинговых исследований
            .schema__text.schema__text-five Каталог маркетинговых компаний
            .schema__text.schema__text-six Респонденты
            .schema__text.schema__text-seven
                | Каталог
                br
                | услуг / товаров