.team
    .container
        .page-title Команда

        .circles
            .circles__item
            .circles__item
            .circles__item
            .circles__item
            .circles__item
            .circles__item
            .circles__item

        .team__slider
            .team__item
                .team__img
                    img(src='static/img/content/team-img.jpg' alt='')
                .team__name Евгений петросян
                .team__post Менеджер по продажам
                .team__text Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа соответствующий условий активизации.
                .team__links
                    a.team__links__item(href='#')
                        +fa('facebook')

                    a.team__links__item(href='#')
                        +fa('linkedin')

                    a.team__links__item(href='#')
                        +fa('vk')

            .team__item
                .team__img
                    img(src='static/img/content/team-img.jpg' alt='')
                .team__name Евгений петросян
                .team__post Менеджер по продажам
                .team__text Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа соответствующий условий активизации.
                .team__links
                    a.team__links__item(href='#')
                        +fa('facebook')

                    a.team__links__item(href='#')
                        +fa('linkedin')

                    a.team__links__item(href='#')
                        +fa('vk')

            .team__item
                .team__img
                    img(src='static/img/content/team-img.jpg' alt='')
                .team__name Евгений петросян
                .team__post Менеджер по продажам
                .team__text Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа соответствующий условий активизации.
                .team__links
                    a.team__links__item(href='#')
                        +fa('facebook')

                    a.team__links__item(href='#')
                        +fa('linkedin')

                    a.team__links__item(href='#')
                        +fa('vk')

            .team__item
                .team__img
                    img(src='static/img/content/team-img.jpg' alt='')
                .team__name Евгений петросян
                .team__post Менеджер по продажам
                .team__text Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа соответствующий условий активизации.
                .team__links
                    a.team__links__item(href='#')
                        +fa('facebook')

                    a.team__links__item(href='#')
                        +fa('linkedin')

                    a.team__links__item(href='#')
                        +fa('vk')

            .team__item
                .team__img
                    img(src='static/img/content/team-img.jpg' alt='')
                .team__name Евгений петросян
                .team__post Менеджер по продажам
                .team__text Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа соответствующий условий активизации.
                .team__links
                    a.team__links__item(href='#')
                        +fa('facebook')

                    a.team__links__item(href='#')
                        +fa('linkedin')

                    a.team__links__item(href='#')
                        +fa('vk')