.team
    .container
        .page-title Команда

        .team__slider
            .team__item
                .team__img
                    img(src='static/img/content/team-img.jpg' alt='')
                .team__name
                .team__post
                .team__text
                .team__links
                    a.team__links__item(href='#')
                        +fa('facebook')

                    a.team__links__item(href='#')
                        +fa('linkedin')

                    a.team__links__item(href='#')
                        +fa('vk')

            .team__item
                .team__img
                    img(src='static/img/content/team-img.jpg' alt='')
                .team__name
                .team__post
                .team__text
                .team__links
                    a.team__links__item(href='#')
                        +fa('facebook')

                    a.team__links__item(href='#')
                        +fa('linkedin')

                    a.team__links__item(href='#')
                        +fa('vk')

            .team__item
                .team__img
                    img(src='static/img/content/team-img.jpg' alt='')
                .team__name
                .team__post
                .team__text
                .team__links
                    a.team__links__item(href='#')
                        +fa('facebook')

                    a.team__links__item(href='#')
                        +fa('linkedin')

                    a.team__links__item(href='#')
                        +fa('vk')