.tokens
    .container
        .page-title ТОКЕНЫ FSTR

        .tokens__text Токены FSTR создаются и функционируют на базе смарт-контрактов Waves. Вы можете инвестировать в проект криптовалюту ETH или ВТС.
        .tokens__title
            | Всего эмиссировано
            br
            | 1 000 000 000 токенов FSTR
        .tokens__sub-title Цена одного токена FSTR на момент эмиссии составляет 1$

        .tokens__wrap
            .tokens__line
                .tokens__count(data-count='60%')
                    .inner-block
                        span 60%
                    .max-count 600000000

                .tokens__line__text токенов в обороте в разрезе года по расчету на 10млн пользователей и 10 тыс заказчиков

            .tokens__line
                .tokens__count(data-count='10%')
                    .inner-block
                        span
                    .max-count 100000000

                .tokens__line__text для продажи на ico (расчет от требуемой суммы при успешной конверсии для Hard Cap в 10%)

            .tokens__line
                .tokens__count(data-count='10%')
                    .inner-block
                        span
                    .max-count 100000000

                .tokens__line__text организация (маркетинг, баунти, рефералка, собственные опросы и т.д.)

            .tokens__line
                .tokens__count(data-count='10%')
                    .inner-block
                        span
                    .max-count 100000000

                .tokens__line__text доп запс для оборота среди трейдеров на биржах

            .tokens__line
                .tokens__count(data-count='10%')
                    .inner-block
                        span
                    .max-count 100000000

                .tokens__line__text обеспечение проекта (зарплатный фонд, сервера, помещения, привлечение специалистов)

        .tokens__summ
            span Итого токенов:
            .number 1000000000
            | -
            .number 100%