.us-rating
    .container
        .page-title Мы в рейтингах

        .us-rating__wrap
            a.us-rating__item(href='#' target='_blank')
                img(src='static/img/content/logo-c-1.png' alt='')
            a.us-rating__item(href='#' target='_blank')
                img(src='static/img/content/logo-c-2.png' alt='')
            a.us-rating__item(href='#' target='_blank')
                img(src='static/img/content/logo-c-3.png' alt='')
            a.us-rating__item(href='#' target='_blank')
                img(src='static/img/content/logo-c-4.png' alt='')
            a.us-rating__item(href='#' target='_blank')
                img(src='static/img/content/logo-c-1.png' alt='')
            a.us-rating__item(href='#' target='_blank')
                img(src='static/img/content/logo-c-2.png' alt='')
            a.us-rating__item(href='#' target='_blank')
                img(src='static/img/content/logo-c-3.png' alt='')
            a.us-rating__item(href='#' target='_blank')
                img(src='static/img/content/logo-c-4.png' alt='')