.why
    .container
        .page-title Почему Fastr?
        .why__wrap
            .why__item
                .why__circle
                    .why__icon
                        img(src='static/img/icons/why-icon-1.svg' alt='')

                .why__text Маркетинговые агентства получают инструмент для проведения быстрых, точных и дешевых исследований

            .why__item
                .why__circle
                    .why__icon
                        img(src='static/img/icons/why-icon-2.svg' alt='')

                .why__text Маркетинговые агентства получают инструмент для проведения быстрых, точных и дешевых исследований

            .why__item
                .why__circle
                    .why__icon
                        img(src='static/img/icons/why-icon-3.svg' alt='')

                .why__text Маркетинговые агентства получают инструмент для проведения быстрых, точных и дешевых исследований

            .why__item
                .why__circle
                    .why__icon
                        img(src='static/img/icons/why-icon-4.svg' alt='')

                .why__text Маркетинговые агентства получают инструмент для проведения быстрых, точных и дешевых исследований

        .why__text-block Экономика системы обеспечивает циркуляцию финансов внутри сервиса, благодаря чему будет расти капитализация токенов и ценность сервиса.