extends ../layout/main

block variables
    - var title = 'Главная страница'

block content

    // Begin vertical-line
    include ../modules/vertical-line
    // End vertical-line

    // Begin stars
    .stars__one
    // End stars

    // Begin first-screen
    include ../modules/index/firstScreen
    // End first-screen

    // Begin why
    include ../modules/why
    // End why

    // Begin schema
    include ../modules/schema
    // End schema

    // Begin how-work
    include ../modules/how-work
    // End how-work

    // Begin comparison
    include ../modules/comparison
    // End comparison

    // Begin tokens
    include ../modules/tokens
    // End tokens

    // Begin rounds-info
    include ../modules/rounds-info
    // End rounds-info

    // Begin road-map
    include ../modules/road-map
    // End road-map

    // Begin team
    include ../modules/team
    // End team

    // Begin press-about-us
    include ../modules/press-about-us
    // End press-about-us

    // Begin us-rating
    include ../modules/us-rating
    // End us-rating