.main-header
    &__left-side
        position: fixed
        left: 0
        top: 0
        background: #093ad8
        width: 80px
        bottom: 0
        display: flex
        flex-direction: column
        align-items: center
        padding-top: 60px
        padding-bottom: 50px
        justify-content: space-between
        z-index: 60

    &__top
        padding: 34px 65px 0 160px
        display: flex
        align-items: center
        justify-content: space-between


.menu
    position: fixed
    left: 0
    top: 0
    bottom: 0
    transform: translateX(-370px)
    width: 370px
    background: #093ad8
    z-index: 65
    padding: 59px 40px 0
    color: #fff
    transition: .15s ease-out

    &._open
        transform: translateX(0)

    &__close-btn
        width: 16px
        height: 16px
        position: absolute
        right: 40px
        top: 60px
        cursor: pointer

        &::before,
        &::after
            content: ""
            background: #fff
            height: 3px
            width: 21px
            top: 0
            left: 0
            position: absolute
            transform-origin: 0 0

        &::before
            transform: rotate(45deg)
            top: 0
            left: 2px

        &::after
            transform: rotate(-45deg)
            top: 14px

    &__text
        font-weight: 700
        text-transform: uppercase
        font-style: italic
        font-size: 13px
        letter-spacing: 1px

    &__copyright
        text-align: center
        width: 100%
        position: absolute
        bottom: 52px
        left: 0
        font-style: italic
        color: #fff
        font-size: 13px
        letter-spacing: 1px

.navbar
    margin-top: 55px

    &__nav
        &__item
            position: relative
            height: 76px

            &:hover
                &::after
                    background: #fff

            &::after
                content: ""
                background: #1644da
                position: absolute
                bottom: 0
                left: 0
                width: 100%
                height: 1px
                transition: .15s ease-out

        &__link
            display: flex
            border: 2px solid #093ad8
            transition: .15s ease-out
            height: 100%
            width: 100%
            align-items: center
            font-size: 14px
            font-weight: 700
            color: #fff
            font-style: italic
            text-decoration: none
            letter-spacing: 1.2px
            position: relative

            &:hover
                border-color: #fff
                justify-content: center

                .fa
                    left: 37px
                    color: #fff

                span
                    left: 50%
                    transform: translate(-50%, -50%)

            .fa
                position: absolute
                top: 27px
                left: 0
                color: #224edc
                transition: .15s ease-out

            span
                position: absolute
                top: 50%
                left: 28px
                transition: .15s ease-out
                transform: translate(0, -50%)


.toggle-menu
    &__btn
        border: none
        background: none
        outline: none
        width: 16px
        height: 16px
        padding: 0
        cursor: pointer

        span
            width: 100%
            height: 2px
            background: #fff
            position: relative
            display: block

            &::before,
            &::after
                content: ''
                background: #fff
                position: absolute
                width: 100%
                height: 100%
                left: 0

            &::before
                top: -7px

            &::after
                bottom: -7px


.before-start
    padding-top: 25px

    &__text
        color: #fff
        font-weight: 700
        font-style: italic
        white-space: nowrap
        transform-origin: 0 0
        margin-bottom: 245px
        width: 80px
        letter-spacing: 1.5px
        transform: rotate(90deg)
        position: relative
        left: 53px

.countdown
    display: table-cell
    font-weight: normal

    .item
        display: inline-block
        vertical-align: bottom
        position: relative
        font-weight: 700
        font-size: 40px
        line-height: 40px
        text-align: center
        color: #fff
        margin: 15px 0
        overflow: hidden
        width: 80px

    .label
        text-transform: lowercase
        text-align: center
        display: block
        font-weight: 300
        font-style: italic
        line-height: normal
        font-size: 14px
        color: #fff
        opacity: .4
        letter-spacing: .8px

    .separator
        display: none


.social-links
    display: flex
    flex-direction: column
    color: #fff
    justify-content: center
    align-content: center

    &__item
        color: #fff
        text-decoration: none
        margin: 10px 0

        &:nth-child(1)
            width: 9px
            font-size: 22px
            margin-left: 2px
            height: 22px

        &:nth-child(2)
            width: 18px
            font-size: 19px
            height: 19px

        &:nth-child(3)
            width: 22px
            font-size: 18px
            height: 18px


.logo
    display: flex
    align-items: flex-end

    &__img
        width: 180px
        margin-right: 19px
        position: relative
        top: 3px

    &__text
        color: #fff
        max-width: 145px
        text-transform: uppercase
        font-weight: 700
        font-style: italic
        line-height: 23px
        letter-spacing: 3.6px


.enter
    display: flex

    &__item
        color: #fff
        font-size: 14px
        font-weight: 700
        font-style: italic
        cursor: pointer
        position: relative
        margin: 4px 23px 0
        letter-spacing: .8px

        &.log-in
            &::after
                content: ""
                background: rgba(255,255,255,.1)
                position: absolute
                height: 31px
                width: 1px
                top: -4px
                right: -24px

.select-language
    margin-left: 25px

    &__selected
        border-radius: 50%
        overflow: hidden
        text-align: center
        width: 31px
        height: 31px
        border: 4px solid #fff


@media screen and (max-width: 890px)
    .main-header
        &__top
            padding: 20px 30px 0 105px

    .logo
        &__img
            width: 140px

        &__text
            font-size: 14px
            line-height: 17px

    .select-language
        margin-left: 10px