.schema
    margin-bottom: 216px
    position: relative
    z-index: 3

    &__wrap
        background: url('../img/backgrounds/schema-bg.png') no-repeat -42px top
        height: 1000px
        position: relative

    &__text
        position: absolute
        color: #fff
        line-height: 30px
        font-style: italic
        font-size: 20px
        letter-spacing: 1px
        text-align: center

    &__logo
        position: absolute
        top: 130px
        left: 41.9%
        width: 202px

    &__text-one
        width: 130px
        top: 348px
        left: 0.9%

    &__text-two
        top: 445px
        left: 38.4%

    &__text-three
        width: 120px
        top: 346px
        right: 0.5%

    &__text-four
        width: 150px
        bottom: 343px
        left: 56.7%
        font-size: 16px
        line-height: 26px

    &__text-five
        width: 135px
        font-size: 16px
        bottom: 272px
        left: 12.8%
        line-height: 26px

    &__text-six
        bottom: 146px
        left: 41.8%

    &__text-seven
        bottom: 225px
        right: 5.7%
        width: 170px


@media screen and (max-width: 1350px)
    .schema
        &__wrap
            background: url('../img/backgrounds/schema-bg-mob.png') no-repeat center top
            max-width: 600px
            margin: 0 auto
            height: 800px

        &__logo
            width: 104px
            top: 97px
            left: 40.5%

        &__text
            font-size: 16px
            line-height: 20px

        &__text-one
            top: 208px
            left: -35px

        &__text-two
            top: 385px
            left: 34.8%

        &__text-three
            top: 210px
            right: -18px

        &__text-four
            bottom: 305px
            left: 48.5%

        &__text-five
            bottom: 192px
            left: -5px

        &__text-six
            bottom: 50px
            left: 37.2%

        &__text-seven
            bottom: 208px
            right: -36px


@media screen and (max-width: 900px)
    .schema
        margin-bottom: 170px

        &__wrap
            transform: translateX(50px)