@import "variables"

*::-webkit-input-placeholder
    color: #666
    opacity: 1

*:-moz-placeholder
    color: #666
    opacity: 1

*::-moz-placeholder
    color: #666
    opacity: 1

*:-ms-input-placeholder
    color: #666
    opacity: 1

*
    box-sizing: border-box

body input:focus:required:invalid,
body textarea:focus:required:invalid
    color: #666
body input:required:valid,
body textarea:required:valid
    color: #666

html, body
    height: 100%

body
    font-size: 15px
    min-width: 320px
    position: relative
    line-height: 1.75
    font-family: $baseFont
    font-weight: 400
    overflow-x: hidden

img
    max-width: 100%
    height: auto


h1
    font-family: $crz
    font-size: 50px
    text-transform: uppercase
    text-align: center
    letter-spacing: 3px
    line-height: 56px
    font-weight: normal
    color: $cPurpleDark

h2
    font-family: $crz
    font-size: 40px
    font-weight: normal
    text-transform: uppercase
    text-align: center
    letter-spacing: 2.5px
    line-height: 60px
    color: $cPurpleDark

h3
    font-weight: 500
    font-size: 25px
    color: $cPurpleDark
    line-height: 40px
    margin: 30px 0
    letter-spacing: 1.4px

p
    line-height: 26px
    margin: 26px 0
    letter-spacing: .6px

b
    font-weight: 500


.main-wrapper
    position: relative
    min-height: 100%
    background: url('../img/backgrounds/main-page-bg.jpg') no-repeat center top


.wrapper
    padding-bottom: 0


.container
    max-width: $screenLG
    margin: 0 auto
    padding: 0 20px


.flex-wrap
    display: flex

    &--jcsb
        justify-content: space-between

    &--aic
        align-items: center
